# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.flockingAI_Javed.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Javed\Projects\flockingAI_Javed\.idea\.idea.flockingAI_Javed\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
